@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');

body {
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
}

#slider {
  width: 80%;
  max-width: 800px;
  /*Quando eu coloco esse width ele ja pega todas as configurações do body.*/
  height: 25vw;
  max-height: 350px;

  position: relative;
}

#slider img {
  opacity: 0;

  position: absolute;

  width: 100%;
  height: 100%;

  object-fit: cover;
  /* Sem essa propriedade a imagem vai ficar esticada. */

  transition: all 800ms cubic-bezier(.33,0,.11,.99);

  transform: translateY(-900px);
}

#slider img.selected {
  transform: translateY(20px);

  opacity: 1;
}

h2 {
  width: 100%;

  text-align: center;

  font-weight: 500;

  position: absolute;
  top: 60%;

  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  color: rgb(243, 11, 88);
}

h2 strong {
  font-weight: bold;

  color: rgb(255, 94, 0);
}

  